body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  color: #fff;

  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url("https://picsum.photos/1200/800");

  background-size: cover;
  background-position: center;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  background-color: #c0392b;
  border-bottom: 4px solid #fff;
}

/* MENU COM LISTA */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin: 0;
  background-color: #e67e22;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* CONTEÚDO */
main {
  padding: 20px;
}

/* LISTA PERSONALIZADA */
.lista {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border: 2px solid #fff;
  margin-top: 10px;
}

.lista li {
  margin-bottom: 5px;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.1);
  padding: 15px;        /* padding aplicado */
  margin-top: 15px;     /* margin aplicado */
  border: 2px solid #fff; /* border aplicado */
  border-radius: 10px;
}

.card span {
  color: #f1c40f;
  font-weight: bold;
}

/* TABELA */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: rgba(255,255,255,0.1);
}

th, td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #c0392b;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background-color: #000;
  margin-top: 20px;
}